@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--poppins);
}

:root {
  --Logo-font: 'Arvo', serif;
  --font-family: 'Lexend Deca', sans-serif;
  --secondary-font-family: 'Epilogue', sans-serif;
  --primary-background: #111827;
  --secondary-background: #030617;
  --poppins: 'Poppins', sans-serif;
  --input-color: #1f2937;
  --normal-color: #f3f4f6;
  --primary-color: #facc15;
  --secondary-color: #6b7280;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --headings: 42px;
}

body {
  background: var(--secondary-background);
  scroll-behavior: smooth;
}

/* navbar styles */
.menubar {
  padding: 3px 10px;
  background-color: var(--primary-color);
  border-radius: 8px;
  border: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  font-family: var(--font-family);
}
.logo {
  color: var(--normal-color);
  font-family: var(--Logo-font);
  font-size: var(--text-2xl);
  white-space: nowrap;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.menuItem {
  font-size: var(--text-base);
  font-weight: 400;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.menuList {
  justify-self: center;
  display: flex;
  gap: 30px;
}

/* home section */
main {
  padding-top: 50px;
  padding: 50px 20px 0px 20px;
}
.heading {
  font-size: var(--text-lg);
  color: var(--normal-color);
  font-weight: 300;
  text-align: center;
}

.messageCard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--normal-color);
  border: 2px solid #58287f;
  border-radius: 10px;
}
.name {
  font-size: var(--text-base);
  font-weight: 400;
  text-transform: uppercase;
}

.navButtons {
  display: flex;
  flex-direction: column;
}
a {
  color: #000;
}
.navButtons button {
  border-radius: 5px;
  display: block;
  padding: 10px 30px;
}
.home {
  background: var(--primary-color);
}
.desc {
  font-size: var(--text-base);
  font-weight: 300;
}
.date {
  font-size: 14px;
  font-weight: 300;
}

.overallMessage {
  gap: 20px;
}
.messageSection {
  padding-top: 30px;
  margin: 0px auto;
}
.messageContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submission {
  width: 95%;
  display: flex;
  color: var(--normal-color);
  margin-bottom: 30px;
}
.navigation {
  display: flex;
  flex-direction: column;
}
.userTitle {
  font-size: var(--text-base);
  font-family: var(--secondary-font-family);
}

/* pagination */

.pagination {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.pagination > div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pagination > div > img {
  width: 30px;
  cursor: pointer;
  height: 30px;
}

.pagination > div > div {
  color: #fff;
  border: 1px solid #ffff00;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pagination > div > div:hover {
  background-color: #080e2e;
  border: 1px solid #fff;
  color: #ffff00;
}
.page {
  padding: 5px;
}

@media (min-width: 992px) {
  nav {
    padding: 30px 96px 0px 165px;
  }
  .submission {
    justify-content: flex-end;
  }
  .messageSection {
    width: 55vw;
  }
  .overallMessage {
    display: flex;
  }
}
@media (max-width: 991px) {
  .submission {
    margin-top: 20px;
    justify-content: center;
  }
  .messageSection {
    width: 70vw;
  }
}

/* above */
@media (min-width: 768px) {
}

/* below */
@media (max-width: 767px) {
}

@media only screen and (max-width: 600px) {
  .messageSection {
    width: 100%;
  }
  .submission {
    width: 100%;
    margin-top: 20px;
    display: block;
  }
  .navigation {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .menuList {
    display: flex;
    gap: 24px;
    justify-content: space-between;
  }
  .sidebar {
    display: none;
  }
  .sidebarContainer {
    display: none;
  }
  .menubar {
    display: none;
  }
}

@media (max-width: 767px) {
  .menuList {
    display: none;
  }
  /* sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    background: #fff;
    height: 100%;
    transition: right 0.3s ease;
    padding: 32px 20px;
    background: var(--input-color);
  }
  .sidebar.active {
    right: 0;
  }
  .sidebarMenu {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .sidebarMenu li {
    padding: 10px;
    width: 100%;
  }
  .sideItem {
    width: inherit;
    height: 100%;
  }
  .sidebarButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.messageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.messageCard {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.email {
  font-style: italic;
  color: #666;
}

.desc {
  margin-top: 10px;
}

.date {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
}

.deleteButton {
  background-color: #facc15;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
